<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content form">
        <div class="row">
          <form action="#" th:action="@{/diem/save}" th:object="${diem}"
		    method="POST" novalidate="novalidate">
			<input type="hidden" th:field="*{id}"/>
			
			
		    <div class="form-group">
		        <label>MA SINH VIEN</label> 
		        <input type="text" class="form-control"
		            th:field="*{maSinhVien}" /> 
		    </div>
		    <div class="form-group">
		        <label>MA LOP</label> 
		        <input type="text" class="form-control" 
		        	th:field="*{maLop}" />
		    </div>
		      <div class="form-group">
		        <label>DIEM QUA TRINH</label> 
		        <input type="text" class="form-control"
		            th:field="*{diemQuaTrinh}" /> 
		    </div>
		      <div class="form-group">
		        <label>DIEM KET THUC</label> 
		        <input type="text" class="form-control"
		            th:field="*{diemKetThuc}" /> 
		    </div>
		      <div class="form-group">
		        <label>HOC KY</label> 
		        <input type="text" class="form-control"
		            th:field="*{hocKy}" /> 
		    </div>
		    
		    <button type="submit" class="btn btn-primary">Save</button>
		</form>
        </div>
    </div><!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>